<div class="card card-body">
    <form [formGroup]="masterItemForm" autocomplete="off">
        <div class="row">
            <div class="col-11">
                <h6 class="bg-secondary">
                    Item Master
                </h6>
            </div>
            <div class="col-1">
                <div class="btn-group">
                    <button type="button" class="btn btn-success mr-1" data-placement="bottom" title="Save"
                        (click)="Itemsave()">
                        <i class="fas fa-save"></i>
                    </button>
                    <button type="button" class="btn btn-default" (click)="refreshcustomer()" data-toggle="tooltip"
                        data-placement="bottom" title="Clear">
                        <i class="fas fa-redo"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mt-3">
                <div class="form-group">
                    <igx-input-group>
                        <input igxInput type="text" formControlName="code" />
                        <label igxLabel>Code</label>
                    </igx-input-group>
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div class="form-group">
                    <igx-input-group>
                        <input igxInput type="text" formControlName="itemname" />
                        <label igxLabel>Item Name</label>
                    </igx-input-group>
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div class="form-group">
                    <igx-input-group>
                        <input igxInput type="text" formControlName="barcode" />
                        <label igxLabel>Bar Code</label>
                    </igx-input-group>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Category</label>
                    <igx-combo #category id="category" class="combo" displayKey="f19" valueKey="f01"
                        [itemsMaxHeight]="250" [data]="masterCategoryList" placeholder="Category"
                        (onSelectionChange)="singleSelection($event)" formControlName="category" searchPlaceholder="Search...">
                    </igx-combo>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Sub Category</label>
                    <igx-combo #subcategory id="subcategory" class="combo" displayKey="f19" valueKey="f01"
                        [itemsMaxHeight]="250" [data]="masterSubCategoryList" placeholder="Sub Category"
                        (onSelectionChange)="singleSelection($event)" formControlName="subcategory" searchPlaceholder="Search...">
                    </igx-combo>
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div class="form-group">
                    <igx-input-group>
                        <input igxInput type="text" formControlName="buyingrate" />
                        <label igxLabel>Buying rate</label>
                    </igx-input-group>
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div class="form-group">
                    <igx-input-group>
                        <input igxInput type="text" formControlName="sellingrate" />
                        <label igxLabel>Selling rate</label>
                    </igx-input-group>
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div class="form-group">
                    <igx-input-group>
                        <input igxInput type="text" formControlName="rol" />
                        <label igxLabel>ROL</label>
                    </igx-input-group>
                </div>
            </div>
            <div class="col-md-3 mt-3">
                <div class="form-group">
                    <igx-input-group hidden>
                        <input igxInput type="text" formControlName="autoId" />
                        <label igxLabel>autoId</label>
                    </igx-input-group>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <igx-grid #masteritemGrid [data]="masterItemList" [autoGenerate]="false" [paging]="true"
                [rowEditable]="false" [primaryKey]="'f01'" cellSelection="none"
                (onColumnResized)="onResize($event)" [perPage]="10" height="500px" displayDensity="compact"
                [allowFiltering]="true" [filterMode]="'excelStyleFilter'" [allowAdvancedFiltering]="true"
                [rowSelection]="'Single'">
                    <igx-column [width]="'100px'" field="f20" [header]="'Active/Inactive'"  [selectable]="false" [sortable]="false" [resizable]="false">
                        <ng-template igxCell let-cell="cell">
                            <button igxButton="icon" class="fab-compact" (click)="onEditCategory($event,cell.cellID)" >
                                <igx-icon family="material">edit</igx-icon>
                            </button>
                            <div *ngIf="!cell.value; then thenBlock else elseBlock"></div>
                            <ng-template #thenBlock>
                                <button igxButton="icon" class="fab-compact"  >
                                    <igx-icon class="icon-red" family="material" (click)="Active($event ,cell.cellID)">toggle_off</igx-icon>
                                </button>
                            </ng-template>
                            <ng-template #elseBlock>
                                <button igxButton="icon" class="fab-compact" >
                                    <igx-icon class="icon-green" family="material" (click)="Deactive($event ,cell.cellID)">toggle_on</igx-icon>
                                </button>
                            </ng-template>
                        </ng-template>
                    </igx-column>
                    <igx-column [field]="'f18'" [header]="'Code'" [resizable]="true" [dataType]="'string'"
                        [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'f19'" [header]="'Item Name'" [resizable]="true" [dataType]="'string'"
                        [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'f03'" [header]="'Barcode'" [resizable]="true" [dataType]="'string'"
                        [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'f18'" [header]="'Category'" [resizable]="true" [dataType]="'string'"
                        [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'f19'" [header]="'Sub Category'" [resizable]="true" [dataType]="'string'"
                        [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'f20'" [header]="'Size'" [resizable]="true" [dataType]="'string'"
                        [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'f21'" [header]="'Print'" [resizable]="true" [dataType]="'string'"
                        [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'f11'" [header]="'Buying Rate'" [resizable]="true" [dataType]="'string'"
                        [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'f12'" [header]="'Selling Rate'" [resizable]="true" [dataType]="'string'"
                        [sortable]="true">
                    </igx-column>
                    <igx-column [field]="'f13'" [header]="'ROL'" [resizable]="true" [dataType]="''"
                    [sortable]="true">
                    </igx-column>
                </igx-grid>
            </div>
        </div>
    </form>
</div>